<% provide(:title, "About the lovebirds!") %>
<body id="aboutus">
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:60px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>
  <div class="tc pa5 code">
      <hr>
      <h2 class="upcase">Our Story</h2>

      <body>
      <p>Kathryn hails from the East Coast and made her way to Chicago after being accepted into graduate school at the University of Chicago. She stayed for the summers and amazing friends who became family, and the life she is building with the love of her life.</p>
      <p>Dushyant spent the majority of his life on the West Coast before finding himself without a jacket in Chicago after taking a job with Capital One (COF). He stayed because obviously its better to experience seasons, and he met the love of his life.</p>

      <hr>
      <h2 class="upcase">Meet Cute</h2>

      <p>As is now evident, we met at work! Eek! Dushyant and Kathryn met when they both joined software engineering teams at Capital One and their fate was sealed at a beerfest. A while later, Dushyant asked Kathryn on a date at the Purple Pig to which she (SPOILER) agreed. Dushyant ordered a steak well-done, Kathryn stopped and corrected him, and now they're getting married! </p>

      <hr>
      <h2 class="upcase">The Proposal</h2>

      <p>It all started easy enough, Dushyant was headed out of town with Trevor on a golf trip, Kathryn was headed to the 'burbs to hang out with some COF friends for the night. Things were going swimmingly until Natalia (love you girl!) made the unfortunate mistake of asking Kathryn where Dushyant was that night. With a twinkle in her eyes, Kathryn responded "oh! its so cute! Dushyant and Trevor are driving to WI and back, golfing along the way!" which made Natalia stop in her tracks. Not wanting to alarm Kathryn, she proceeded carefully, "Hm, Trevor was at work today..." to which Kathryn was convinced Natalia was just confusing Trevor with everyone other white male that works in tech. However, Natalia and Trevor have met and she was not mistaken. Trevor was indeed at work and not wth Dushyant...</p>

      <p>With alarm, Kathryn, knowing in the back of her mind she shouldn't push it but needing to solve the puzzle, called Dushyant, "Kanna, where are you? Where is Trevor?". Dushyant did his best attempt to mimic Trevors distinct voice and manner of speak, but Kathryn was not convinced. Dushyant just started laughing, surprised he made it this far into the surprise, and just said simply, "Im hanging up, Ill send you a picture. You'll laugh. See you tomorrow. I love you". And with that, the picture came in - a picture of her parents dogs and her parents. Kathryn, in complete shock, fell to the floor crying tears of happiness and confusion. How did he get those pictures?! Is he in NEW JERSEY!? How?!</p>

      <p>Alas, Dushyant had secretly flown to NJ to spend a weekend golfing with Kathryn's parents and asking for their blessing to join the family. In IL, Kathryn was given strict instructions to follow upon returning home from the suburbs. Under the mattress was a stack of sticky notes with a scavengar hunt. Kathryn found the dress she wore on their first date, got ready, completed the clues, and ultimately hailed a cab to...the <strong>Purple Pig</strong>. There, Duhsyant waited at the end of the high tables with a smile, a kiss, and some choice words that would forever change their life. </p>
      </p>
  </div>
</body>
