<h2>I've never been to a Hindu ceremony before - what do I need to know?</h2>

<h3>Welcome and we're glad you asked!</h3>

<h4>Here are some things to keep in mind before and while attending</h4>

<ul>Please refrain from wearing the following colors:
  <li>White</li>
  <li>Red</li>
  <li>{{wedding party colors}}</li>
</ul>

<h4>Saris, lenghas, (male outfit), oh my!</h4>

<p>While not required, we hope you will join us in celebrating Hindu traditions by wearing a sari or lengha (women) or a {{}} (men). The wedding party and family will also be in traditional South Indian garb.</p>

<p>{{ Origin of outfits, any significance }} </p>

<p>If you need help picking an outfit, please do not hesitate to reach out to Kathryn or Dushyant and we can help you find the closest store!</p>

