<head>
    <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
      <p class="measure pv4-l center">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </p>
    </div>
</head>

<h2>I've never been to a Hindu ceremony before - what do I need to know?</h2>

<h4>Here are some things to keep in mind before and while attending</h4>

<ul>Please refrain from wearing the following colors:
  <li>White - this color is reserved for funerals in the Hindu culture, as well as for the bride in America</li>
  <li>Red - this color is reserved for the bride in Hindu culture</li>
  <li>{{wedding party colors}}</li>
</ul>

<h4>Sarees, lenghas, (male outfit), oh my!</h4>

<p>While not required, we hope you will join us in celebrating Hindu traditions by wearing a saree or lengha (for women) or {{}} (for men). The wedding party and family will also be in traditional South Indian garb.</p>

<p>{{ Origin of outfits, any significance }} </p>

<p>If you need help picking an outfit, please do not hesitate to reach out to Kathryn or Dushyant and we can help you find the closest store!</p>

