<% provide(:title, 'Home') %>
<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100" style="text-align:center">
    <div
      style="background:url(http://mrmrs.io/photos/display.jpg) no-repeat center right;background-size: cover;"
      class="dtc v-mid cover ph3 ph4-m ph5-li">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">We're getting meowied!</h1>
      <h2 class="f6 fw6 black">Kathryn & Dushyant</h2>
    </div>
  </header>
  <div class="serif ph3 ph4-m ph5-l">
    <p class="lh-copy f5 f3-m f1-l measure center pv4"></p>
    <div class="f5 f3-m lh-copy">
      <div class="cf dt-l w-100 bt b--black-10 pv4">
        <div class="dtc-l v-mid mw6 pr3-l">
          <img class="w-100" src="http://mrmrs.io/photos/009.jpg" alt=""/>
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
          <p class="measure pv4-l center">
            <span class="fw9 fw4-ns">Check back as information develops!</span>
          </p>
        </div>
      </div>
      <div class="cf dn">
        <div class="fl w-100 w-50-l">
          <p class="f5 pv4">
          </p>
        </div>
        <div class="fl w-100 w-50-l">
          <p class="f5">
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
