<% provide(:title, 'Kat & Dush') %>
<title>Kat &amp Dush </title>
<body style="background-color: #9C0059">
  <link href="https://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:70px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>
  <div style="width: 95%" class="tc">
    <img src="fushia.gif" style="height:320px" alt=""/>
  </div>
  <div id="main" class="">
    <article class="pb5">
        <div class="tc white fw3" style="font-family:cursive; letter-spacing: 2px">
          <h1 class="">Kathryn & Dushyant</h1>
          <h2>December 15, 2018</h2>
          <h4>#NotAShotgunWedding</h4>
          <span class="addtocalendar f6 grow no-underline br-pill ba ph3 pv2 mb2 dib white">
              <var class="atc_event">
                  <var class="atc_date_start">2018-12-15 12:00:00</var>
                  <var class="atc_date_end">2018-12-15 23:30:00</var>
                  <var class="atc_timezone">America/Chicago</var>
                  <var class="atc_title">Kathryn & Dushyant's Wedding</var>
                  <var class="atc_description">Kathryn &amp Dushyant are getting married!</var>
                  <var class="atc_location">Chicago, IL</var>
                  <var class="atc_organizer">Kathryn &amp Dushyant</var>
                  <var class="atc_organizer_email">roadtoremington@gmail.com</var>
              </var>
          </span>
         </div>
      </div>
    </article>
  </div>
  <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = 'https://addtocalendar.com/atc/1.5/atc.min.js';
          var h = d[g]('body')[0];h.appendChild(s); }})();
  </script>
</body>

