<% provide(:title, 'Home') %>

<head>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
</head>

<div id="main" class="">
  <article class="pb5">
    <div class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
      <p class="pv4-l center">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </p>
    </div>
    <header class="vh-100 w-100" style="text-align:center">
      <div class="tc" style="font-family:cursive">
        <h1 class="">let us raise a glass &amp celebrate!</h1>
				<h2>Kathryn and Dushyant are getting hitched!</h2>
        <h4>#NotAShotgunWedding</h4>
       <html>
    <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>
		<span class="addtocalendar atc-style-blue">
        <var class="atc_event">
            <var class="atc_date_start">2019-03-23 10:00:00</var>
            <var class="atc_date_end">2019-03-23 23:00:00</var>
            <var class="atc_timezone">America/Chicago</var>
            <var class="atc_title">Kathryn & Dushyant's Wedding</var>
            <var class="atc_description">Kathryn &amp Dushyant are getting married!</var>
            <var class="atc_location">Chicago, IL</var>
            <var class="atc_organizer">Kathryn &amp Dushyant</var>
            <var class="atc_organizer_email">roadtoremington@gmail.com</var>
        </var>
    </span>

      </div>
    </header>
  </article>
</div>

