<head>
    <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
      <p class="measure pv4-l center">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </p>
    </div>
</head>
<h1>Check back soon for hotel block information! </h1>
