<body>
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:70px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>
  <h1>Check back soon for hotel block information! </h1>
</body>
