<% provide(:title, "Kat & Dush") %>
<body class="" id="rsvp">
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:70px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>

  <div class="ma5 tc">
    <hr>
    <h1>Hotel block info coming soon!</h1>
</body>
