<% provide(:title, 'Us') %>
<body class="bg-washed-red baskerville tc">
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:70px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>
  <div class="ma3 pa5">
    <h1 class="">What do we call you?</h1>
        <p>First, we appreciate your taking the time to join us in the creation of our family!</p>

        <p>As many have noticed, we have decided that in creating our more perfect union, we will be choosing an entirely new last name. This reflects our egalitarian relationship but also our desire to have a unified family name.</p>

        <p>Remington is the maiden name of Kathryn's maternal grandmother, whom you will all meet at the wedding festivities, and thus has a lot of importance to Kathryn and Dushyant</p>

        <p>If you have any questions, please don't hesitate to ask!</p>
  </div>
</body>
