<body class="bg-washed-red baskerville">
  <p class="pa3 fl">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </p>
  <div class="pa5">
    <h1 class="">What do we call you?</h1>
        <p>First, we appreciate your taking the time to join us in the creation of our family!</p>

        <p>As many have noticed, we have decided that in creating our more perfect union, we will be choosing an entirely new last name. This reflects our egalitarian relationship but also our desire to have a unified family name.</p>

        <p>Remington is the maiden name of Kathryn's maternal grandmother, whom you will all meet at the wedding festivities, and thus has a lot of importance to Kathryn and Dushyant</p>

        <p>If you have any questions, please don't hesitate to ask!</p>

    <h1>How do we address you?</h1>
    <p>If you need to address us formally, please use Mr. and Ms. Dushyant &amp Kathryn Remington. For all other situations, just keep calling us your preferred names for us as usual, noting the last name change.</p>
  </div>
</body>
