<% provide(:title, "Kat & Dush") %>
<body>
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
  </div>
    <p class="pv4-l center pl4">
      <span style="font-size:60px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>

  <div class="ma5 tc">
    <hr>
    <h1 class="tc">Registry coming soon! </h1>
</body>
