<% provide(:title, "Kat & Dush") %>
<body class="" id="rsvp">
  <div style="float:left" class="courier dtc-l v-mid f6 f5-m f4-l measure-l">
    <p class="pv4-l center pl4">
      <span style="font-size:60px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </p>
  </div>

  <div class="ma5 tc">
    <hr>
    <h1> RSVP</h1>
    <p> We're so glad you can attend! Please check back in August to RSVP after we send out the official invites </p>
</body>
