<h1>Buckle up, it's gonna be a long ride!</h1>

<p>We are incredibly lucky that we get to pull from TWO cultures in planning our wedding events! The following schedule reflets all of the events that go into a Christian-Hindu fushion wedding. </p>
<p>Please note that some events are for family only and are noted as such! If there is no designation, you're invited and we hope you can join us!</p>

<h3>Thursday</h3>

Mendhi (Family &amp Bridal Party only)

<h3>Friday</h3>

Rehersal at University of Chicago's Rockefellar Chapel (Family &amp Bridal Party only)
After-rehersal happy hour (all welcome!)

<h3>Saturday</h3>

Heading to the chapel!

University of Chicago Chapel Xam-Xpm

Cocktail Hour Xpm-Xpm

Reception Xpm-Xpm

<h3>Sunday</h3>

Post wedding brunch
