<head>
    <div class="">
      <p class="ma3">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </p>
    </div>
</head>

<body>
  <div class="pa3 ma3">
    <h1>Buckle up, it's gonna be a long ride!</h1>
    <p>We are incredibly lucky that we get to pull from TWO cultures in planning our wedding events! The following schedule reflects all of the events that go into a Christian-Hindu fushion wedding. </p>
    <p>Please note that some events are for family only and are noted as such! If there is no designation, you're invited and we hope you can join us!</p>

    <h3>Thursday</h3>

    Mendhi (Family &amp Wedding Party only)

    <h3>Friday</h3>

    Rehersal at University of Chicago's Rockefellar Chapel (Family &amp Wedding Party only)
    Happy hour at {}: 8PM

    <h3>Saturday</h3>

    <p>Ceremony: University of Chicago Rockefellar Chapel at 10AM</p>

    <p>Reception: {PLACE} at 6PM </p>

    <p>Transportation: </p>

    <p>Ceremony: The chapel is located about .75 miles from the 55th-56th-57th Metra Electric Metra train line, as well as accessible via Uber/Lyft. If using Uber, please carpool and use the code {} for x dollars off of your trip. Parking is also available HERE.</p>

    <p>Reception: Buses will be provided to and from HOTEL and will leave from X-Y every 30 minutes and return back to the hotel from X-Y every 30 minutes.</p>

    <h3>Sunday</h3>
  </div>
</body>
