<head>
    <div class="ma3">
      <p class="">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </p>
    </div>
</head>
<body>
  <div class="ma3">
    <h1 class="tc">Meet our honored wedding party!</h1>
		<div class="pl5 fl">
			  <h3>Kathryn's Attendants</h3>
				<ul class="" style="list-style: none;">
					<li>Maid of Honor: Madison Smith</li>
					<li>Bridesmaid: Ellen Killian Loughlin</li>
					<li>Bridesmaid: Jenna Hreshko Canovali</li>
					<li>Bridesmaid: Kelsey Young Lumbra</li>
					<li>Bridesmaid: Hannah Inayoshi</li>
					<li>Bridesmaid: Ahalya Srikant</li>
				</ul>
		</div>

		<div class="fr pr5">
			  <h3>Dushyant's Attendants</h3>
				<ul style="list-style: none;">
					<li>Best Man: Daniel Brim</li>
					<li>Groomsman: Josh Ferguson</li>
					<li>Groomsman: Samun Khalilian</li>
					<li>Groomsman: Trevor Levy</li>
					<li>Groomsman: Santosh Nandhan</li>
					<li>Groomsman: Patrick Smith</li>
				</ul>
		</div>
  </div>
</body>
